 <%if !@battles.blank?%>
	<%@battles.each do |battle|%>
        <div class="js-slide">
            <div class="gig-item">
       
                <a class="gig-link-main" href="/battles/<%=battle.id%>">
                    
                       <!-- <aside class="featured-badge">Featured!</aside> 
                    
                    <span class="toprated-badge">Top-Rated Seller!</span>-->
                    <span class="gig-pict-214"><img width="214" height="132" src="<%=battle.main_asset.blank? ? "/assets/no-asset.jpg" : battle.main_asset.url(:medium)%>" data-reload="inprogress"></span>
                    
                    <h5 class="ellipsis">
                       <div style="text-align: center;"><%=truncate(battle.items.first.title, :length => 18)%></div>
																							<div style="text-align: center;">VS</div>
                       <div style="text-align: center;"><%=truncate(battle.items.last.title, :length => 18)%></div>
                    </h5>
                </a>
            </div>
        </div>
    

  <%end%>  
  <%end%>  
  