<footer class="main-footer cf">
   <div class="footer-inner">
  <div class="footer-side-l">
							   	<h5>Let's Connect</h5>
         <div class="footer-social cf">
            <a target="blank" data-gtm-label="twitter" data-gtm-event="social" data-gtm-action="footer-share" class="pop share-icon share-icon-twitter" href="https://twitter.com/mycombate"><span> Twitter</span></a>
            <a target="blank" data-gtm-label="facebook" data-gtm-event="social" data-gtm-action="footer-share" class="pop share-icon share-icon-facebook" href="https://www.facebook.com/mycombate"><span>  Facebook</span></a>      
<!--												<a target="blank" data-gtm-label="twitter" data-gtm-event="social" data-gtm-action="footer-share" class="social social-tw js-gtm-event" href="http://twitter.com/#"><span> Twitter</span></a>
            <a target="blank" data-gtm-label="facebook" data-gtm-event="social" data-gtm-action="footer-share" class="social social-fb js-gtm-event" href="#"><span>  Facebook</span></a>
         <!--   <a target="blank" data-gtm-label="pinterest" data-gtm-event="social" data-gtm-action="footer-share" class="social social-pi js-gtm-event" href="http://www.pinterest.com/#"><span> Pinterest</span></a>
            <a target="blank" data-gtm-label="linkedin" data-gtm-event="social" data-gtm-action="footer-share" class="social social-li js-gtm-event" href="http://www.linkedin.com/company/#"><span>LinkedIn</span></a>
            <a target="blank" data-gtm-label="instagram" data-gtm-event="social" data-gtm-action="footer-share" class="social social-in js-gtm-event" href="http://instagram.com/#"><span> Instagram</span></a>-->
         </div>
      </div>
      <div class="footer-side-r">
         <a class="logo" href="/"> Logo</a>
         <p>&copy; myCombate International Limited 2014 - 2016</p>
       
      </div>
      <div class="footer-mid">
						<!--
       <div class="row-fluid">
            <div class="span4">
               <ul>
                  <li>
                     <h5>Media &amp; Press</h5>
                  </li>
                  <li><a href="/news">myCombate in the Media</a></li>
                  <li><a href="/press">Press Kit</a></li>
                  <!-- <li></li> 
               </ul>
          </div>
            <div class="span4">
               <ul>
                  <li>
                     <h5>General</h5>
                  </li>
                  <li><a class="pink-link" href="/jobs">We Are Hiring!</a></li>
                  <li><a href="/categories">myCombate Directory</a></li>
                  <li><a href="/levels">Levels</a></li>
                  <!-- <li></li> 
                  <li><a target="_blank" href="#">The myCombate Blog</a></li>
                  <li><a href="/terms_of_service">Terms of Service</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
               </ul>
            </div>
            <div class="span4">
               <ul>
                  <li>
                     <h5>Get Help</h5>
                  </li>
                  <li><a href="/support">Customer Support</a></li>
                  <li><a target="_blank" href="#">myCombate Forum</a></li>
               </ul>
            </div>
         </div>
      -->
						
						</div>
   </div>
</footer>